{% load static %}

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset = "utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- BootstrapのCSSファイルを読み込む -->

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- オリジナルのCSSを読み込む -->
    <link rel="stylesheet" href="{% static 'css/sns.css' %}">

    <title>学習投稿</title>
  </head>
  <body>
    <!-- ヘッダー追加 -->

    <nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-dark mb-5">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="{% url 'sns_list' %}">Sns</a>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto mt-2 mt-md-0">
        {% if request.user.is_authenticated %}      <!-- ここでログインしているか判断 -->
        <li class="nav-item">
        <a class="nav-link" href="">{{ request.user.username }}</a>
        </li>

        <li class="nav-item">
        <a class="nav-link" href="{% url 'sns_create' %}">新規Sns</a>
        </li> 

        <li class="nav-item">
        <a class="nav-link" href="{% url 'user:logout' %}">ログアウト</a>
        </li>

        {% else %}
        <li class="nav-item">
        <a class="nav-link" href="{% url 'user:signup' %}">新規登録</a>
        </li>

        <li class="nav-item">
        <a class="nav-link" href="{% url 'user:login' %}">ログイン</a>
        </li>

        {% endif %}
      </ul>
      </div>
    </nav>


    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>


    
    
    <!-- ヘッダー追加 -->
    <!-- コンテナ―追加 -->
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>